.card {
  border: none;
  width: 350px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card .bgCard {
  border-radius: 15px;
  background-color: #f6f6f6;
}

.card .bgCard img {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
