.carousel-container {
  position: relative;
}
.card-container {
  display: flex;
  overflow: hidden;
  animation-play-state: paused;
  text-align: center;
}

.card-container img {
  max-width: 150px;
}
.cards {
  display: inline-flex;
  white-space: nowrap;
}
.slide {
  animation: slide 5s linear infinite;
  animation-play-state: running;
}
.slide.paused {
  animation-play-state: paused;
}
.right-arrow-carousel {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0%, -50%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.right-arrow-carousel img {
  width: 70%;
}

.right-arrow-carousel:hover {
  opacity: 1;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
